<!DOCTYPE html>
<html lang="en">
<style>
  .iframe-container {
		text-align:center;
  		width:100%;
  }
</style>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like?
                </h1>

            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form action=""    method="post" novalidate>

                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{ form.hidden_tag() }}
                                {{form.zipcode(class="input",max=5)}}
                            </div>
                            <div class="control">
                              {{form.submit(class="button is-info")}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% if weather %}
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temp }}° F</span>
                                        <br> {{ weather.desc }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </div>
            </div>
        </div>


    </section>
    <section class="section">
        <div class="container">
            <div style="text-align:center;" >
        <iframe
  width="450"
  height="250"
  frameborder="0" style="display:auto"
  src="https://www.google.com/maps/embed/v1/view?key={{ maps_api }}&center={{weather.coord.lat}},{{ weather.coord.lon }}&zoom=15" allowfullscreen>
</iframe>
            </div>
        </div>
        {% endif %}
    </section>
    <footer class="footer">
    </footer>
{% endblock %}
</body>

</html>